.btn {
    color: var(--theme);
    text-align: center;
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
    padding: 0.45rem;
    background-color: #fff;
    border: 1px solid var(--theme);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--theme);
    color: #fff;
}

.btn-blue {
    background-color: var(--theme);
    color: #fff;
}

.btn-blue:hover {
    opacity: 0.9;
}
