.signup-wrapper {
    width: 100%;
    max-width: 420px;
    background-color: #fff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    padding: 1rem 1.75rem;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.p-login {
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
}

