.signup-wrapper {
    width: 70%;
    max-width: 600px;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}


