@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow-color: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.custom-input {
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0rem;
  width: 100%;
  border-radius: 0;
  margin-top: -1rem !important;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.3s;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  box-shadow: var(--shadow-color);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.input-flex input {
  width: 100%;
  border: 0;
  padding: 0.5rem;
}

.input-flex input:focus {
  outline: none;
}

.select-input {
  min-width: 160px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-color);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}

.select-input > div {
  border: 0 !important;
}
